RewriteEngine On
Options -MultiViews

RewriteRule ^image.php?(.*)/to/(.*)^ thumbs.php?image=$1&$width=$2 [L]
RewriteRule ^erreur/([a-z0-9\-]+)$ erreur.php?e=$1 [L]
RewriteRule ^index$ index.php [L]
RewriteRule ^inscription/([a-z0-9\-]+)/([a-z0-9\-]+)$ inscription.php?etape=$1&code=$2 [L]
RewriteRule ^inscription/([a-z0-9\-]+)$ inscription.php?etape=$1 [L]
RewriteRule ^inscription$ inscription.php [L]
RewriteRule ^connexion$ connexion.php [L] 
RewriteRule ^deconnexion$ deconnexion.php [L]
RewriteRule ^profil$ profil.php [L]
RewriteRule ^profil/([a-z0-9\-]+)/([a-z0-9\-]+)$ profil.php?profil=$1&action=$2 [L]
RewriteRule ^profil/([a-z0-9\-]+)$ profil.php?profil=$1 [L]
RewriteRule ^modifier_compte/([a-z0-9\-]+)$ profil.php?action=modifier&id=$1 [L]
RewriteRule ^messagerie$ messagerie.php [L]
RewriteRule ^profil/([a-z0-9\-]+).php$ ./$1.php [L]
RewriteRule ^recherche$ rechercher.php [L]
RewriteRule ^mdp_oublie$ mdp_oublie.php [L]
RewriteRule ^activites$ activites.php?action=none [L]
RewriteRule ^messagerie/([a-z0-9\-]+)$ messagerie.php?id=$1 [L]